<%= link_to "Voltar", admins_backoffice_publications_path, class: "btn btn-primary" %>
<div class="container">
    <div class="row row-cols-1">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center;"><%= @publication.title %></h2>
                    <div class="d-flex align-items-center">
                        <%= image_tag "#{@publication.image}", class: "img-fluid mx-auto" %>
                    </div>
                    <p><%= raw @publication.description %></p>
                    <p><strong>Link da materia oficial:</strong> <%= link_to "#{@publication.reference_link}", @publication.reference_link, target:"_blank" %></p>
                </div>
            </div>
        </div>
    </div>
</div>