<h1><%= t('messages.listing', model: @subjects.model_name.human(count: 2)) %></h1>

<div class="card shadow mb-4">
<div class="card-body">
<div class="">
   <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
    <table class="table table-bordered dataTable" id="dataTable" width="50%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <tr role="row">
            <th>ID</th>
            <th><%= translate_attribute(@subjects, :description) %></th>
            <th>
                <%= link_to new_admins_backoffice_subject_path, class: "btn btn-success btn-circle" do %>
                    <i class="fa fa-plus"></i>
                <% end %>
            </th>
            </tr>
        </thead>
        <tbody>
            <% @subjects.each do |subject| %>    
            <tr>
                <th><%= subject.id %></th>
                <th><%= subject.description %></th>
                <th style="width: 110px;">
                    <%= link_to edit_admins_backoffice_subject_path(subject), class: "btn btn-primary btn-circle" do %>
                        <i class="fa fa-edit"></i>
                    <% end %>
                    <%= link_to admins_backoffice_subject_path(subject), method: :delete, class: "btn btn-danger btn-circle", data: { confirm: t('messages.confirm_with', item: subject.description.truncate(15))} do %>
                        <i class="fas fa-trash"></i>
                    <% end %>  
                </th>
            </tr> 
            <% end %>
        </tbody>
        </table>
        <div class="text-center">
            <%= paginate @subjects %>
        </div>
    </div>
</div>
</div>